*{
    margin: 0;
}
.surat{
    display: flex;
   padding-top:450px ;
   padding-left: 100px;
}
.img{
    width: 600px;
    height: 700px;
    background-color: red;
}
.img-m{
    width: 600px;
    height: 700px;
}
.text{
    width: 600px;
    height: 700px;
    margin-left:50px ;
}
.th1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 100;
    letter-spacing: 6px;
}
.th2{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.tp1{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tp2{
    font-size: 20px;
    color: grey;
}